{{ partial "header.html" . }}

<div class="articles-list">
{{ range .Data.Pages }}
  <article>
    <h2 class="articles-list__title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <div class="articles-list__meta">{{ partial "article-date.html" . }}</div>
    <p class="articles-list__summary">{{ .Summary }}</p>
    <a href="{{ .RelPermalink }}">Lire la suite…</a>
  </article>
{{ end }}
</div>

{{ partial "footer.html" . }}
