<li class="bio__key">
  <i class="icon icon-key" aria-hidden="true"></i>
  <a href="/gpg_keys/{{.Get 2}}">PGP</a>
  <span class="gpg__container">
    <input type="checkbox" class="gpg__checkbox" id="gpg__{{.Get 1}}" aria-hidden="true" />
    <label class="gpg__short-id" for="gpg__{{.Get 1}}" title="Afficher l’empreinte de la clef">({{.Get 1}})</label>
    <span class="gpg__fingerprint">Empreinte&nbsp;:&nbsp;{{.Get 0}}{{.Get 1}}</span>
  </span>
</li>
